.bg_image{
    background-image: url('/assets/images/background.png');
    height: 300px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#restaurants{
    background-color: #f5fafc;
}
#getApp{
    background-color: #ff6000; 
}
.btn{
    padding: 5px 30px 5px 30px !important;
    margin: 0px !important;
    border-radius: 0px;
    background-color: #ffffff;
    color: #ff6000;
}
.phone{
    margin-top: -11rem;
}
.input-group-text{
    background-color: transparent;
}
.form-control{
    border-right: 0px;
}
.input-group{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.owl-nav .ng-star-inserted .owl-next{
    padding: 10px 15px !important;
    border-radius: 50%;
}